<app-menubar></app-menubar>
<p-toast></p-toast>
<p-contextMenu #cm [model]="items"></p-contextMenu>
<p-table #dt [value]="users" [(contextMenuSelection)]="selectedUser" dataKey="userId" [(selection)]="selectedUsers" [rowHover]="true"
         [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]"
         [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
         [filterDelay]="0" [globalFilterFields]="['userId','name','role']" [contextMenu]="cm"> >
  <ng-template pTemplate="caption">
    <div class="table-header">
      List of Customers
      <span class="p-input-icon-left">
                        <i class="pi pi-search"></i>
                        <input pInputText type="text" (input)="dt.filterGlobal($any($event).target.value, 'contains')"
                               placeholder="Global Search"/>
                    </span>
    </div>
  </ng-template>
  <ng-template pTemplate="header">
    <tr>
     <th style="width: 3rem"></th>
      <th pSortableColumn="userId"> UserId
        <p-columnFilter type="text" field="userId" display="menu"></p-columnFilter>
        <p-sortIcon field="userId"></p-sortIcon>
      </th>
      <th pSortableColumn="name">Name
        <p-columnFilter type="text" field="name" display="menu"></p-columnFilter>
        <p-sortIcon field="name"></p-sortIcon>
      </th>
      <th pSortableColumn="role">Role
        <p-columnFilter type="text" field="role" display="menu"></p-columnFilter>
        <p-sortIcon field="role"></p-sortIcon>
      </th>
      <th pSortableColumn="role">Quantity of Datasets (Owner)
        <p-columnFilter type="number" field="ownedTables.length" display="menu"></p-columnFilter>
        <p-sortIcon field="ownedTables.length"></p-sortIcon>
      </th>
      <th pSortableColumn="role">Last Activity
        <p-columnFilter type="date" field="lastModifiedDate" display="menu"></p-columnFilter>
        <p-sortIcon field="lastModifiedDate"></p-sortIcon>
      </th>
      <th pSortableColumn="role">Logs
      </th>

      <th></th>
      <th style="width: 8rem"></th>
    </tr>
    <tr>
      <th>
        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
      </th>
      <th>
        <input pInputText type="text" (input)="dt.filter($any($event).target.value, 'userId', 'startsWith')" placeholder="Search by UserId" class="p-column-filter">
      </th>
      <th>
        <input pInputText type="text" (input)="dt.filter($any($event).target.value, 'name', 'contains')" placeholder="Search by Name" class="p-column-filter">
      </th>
      <th>
        <input pInputText type="text" (input)="dt.filter($any($event).target.value, 'role', 'contains')" placeholder="Search by Role" class="p-column-filter">
      </th>
      <th>
        <input pInputText type="number" (input)="dt.filter($any($event).target.value, 'ownedTables', 'bigger')" placeholder="Search by Quantity of DataSets" class="p-column-filter">
      </th>
      <th>
        <input pInputText type="date" (input)="dt.filter($any($event).target.value, 'lastActivityDate', 'bigger')" placeholder="Search by lastActivityDate" class="p-column-filter">
      </th>
      <th>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-user>
    <tr [pContextMenuRow]="user">
      <td style="max-width: 10px">
        <p-tableCheckbox [value]="user"></p-tableCheckbox>
      </td>
      <td>{{user.userId}}</td>
      <td>{{user.name}}</td>
      <td>{{user.role}}</td>
      <td (click)="showTablesOfUserDialog(user)">{{user.ownedTables.length}}</td>
      <td>{{user.lastModifiedDate}}</td>
      <td (click) = "showLogsForUser(user)">Show all the logs for this user</td>
      <td>
        <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editUser(user)"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteUser(user)"></button>
      </td>

    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="8">No customers found.</td>
    </tr>
  </ng-template>
</p-table>

<p-dialog [(visible)]="userDialog" [style]="{width: '450px'}" header="User Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="name">Name</label>
      <input type="text" pInputText id="name" [(ngModel)]="user.name" required autofocus />
      <small class="p-invalid" *ngIf="submitted && !user.name">Name is required.</small>
    </div>

    <div class="p-field">
      <label class="p-mb-3">Role</label>
      <div class="p-formgrid p-grid">
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton id="role1" name="role" value="Common" [(ngModel)]="user.role"></p-radioButton>
          <label for="role1">Common</label>
        </div>
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton id="role2" name="role" value="Manager" [(ngModel)]="user.role"></p-radioButton>
          <label for="role2">Manager</label>
        </div>
        <div class="p-field-radiobutton p-col-6">
          <p-radioButton id="role3" name="role" value="Admin" [(ngModel)]="user.role"></p-radioButton>
          <label for="role3">Admin</label>
        </div>

      </div>
    </div>

  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>
  </ng-template>
</p-dialog>


<p-dialog [(visible)]="viewUserDialog" [style]="{width: '450px'}" header="User Details" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveUser()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

