<br>
<button mat-raised-button accent="primary" style="margin-right: 10px;" (click)="AddDataset()">
    Add DataSet
</button>
<button mat-raised-button accent="primary" style="margin-right: 10px;">
    Add Sheet
</button>
<mat-tab-group>
    <mat-tab *ngFor="let tab of tabs;  let index = index" [label]="tab.displayName">
        <ng-template matTabContent >
            <app-sheet *ngIf="tab.tableType=='Sheet'" [tableId]="tab.tableId"></app-sheet>
            <app-dataset *ngIf="(tab.tableType=='DataSet')" [tableId]="tab.tableId" [isCollab]="false"></app-dataset>
        </ng-template>
    </mat-tab>
</mat-tab-group>


